/*** acf ***/
/* options page tabs */
.toplevel_page_style .acf-tab-group {
	padding-left: 0 !important;
}
.customize-control-ogf-upsell {
	display: none !important;
}
.editor-styles-wrapper a {
	text-decoration: none !important;
}
.editor-styles-wrapper pre {
    margin-bottom: 0 !important;
}
.editor-styles-wrapper ol, .editor-styles-wrapper ul {
	padding-left: 0 !important;
}
.block-editor-block-list__block:last-child {
	margin-bottom: 40px;
}
.block-list-appender {
	margin-top: 15px;
}
.wp-block[data-type="core/widget-area"],
.blocks-widgets-container .wp-block-widget-area__inner-blocks.editor-styles-wrapper {
	max-width: 100% !important;
}
/* block z-index */
.block-editor-block-list__block {
	overflow: hidden;
}
/* modal editor */
.acfe-modal-wrapper {
	margin-right: 9px;
	max-width: calc(100vw - 317px) !important;
}
.editor-styles-wrapper .bg-primary {
    background-color: var(--primary) !important;
}
